
### The University of Melbourne, School of Computing and Information Systems
# COMP30027 Machine Learning, 2020 Semester 1

## Assignment 1: Naive Bayes Classifiers

###### Submission deadline: 7 pm, Monday 20 Apr 2020

**Student Name(s):**    `Alec Yu, Michael Jaworski`

**Student ID(s):**     `993433, 833751`

This iPython notebook is a template which you will use for your Assignment 1 submission.

Marking will be applied on the four functions that are defined in this notebook, and to your responses to the questions at the end of this notebook (Submitted in a separate PDF file).

**NOTE: YOU SHOULD ADD YOUR RESULTS, DIAGRAMS AND IMAGES FROM YOUR OBSERVATIONS IN THIS FILE TO YOUR REPORT (the PDF file).**

You may change the prototypes of these functions, and you may write other functions, according to your requirements. We would appreciate it if the required functions were prominent/easy to find.

**Adding proper comments to your code is MANDATORY. **

In [378]:
import os
import pandas as pd
import numpy as np
# count attribute values
from collections import Counter
from math import sqrt, e, pi
from random import sample
import matplotlib.pyplot as plt

In [495]:
def get_filenames(location: str):
    
    # returns filenames from datasets folder location
    
    files = os.listdir(location)
    
    return [filename.replace(".data", "") for filename in files if ".data" in filename]
    

def read_data(filename: str):  
    
    # reads the filename.data data file and the filename.h header file and return a dataframe 
    
    df = pd.read_csv(f"datasets/{filename}.data", header=None)
    header = open(f"datasets/{filename}.h", "r").read().split(",")
    df.columns = header
    
    return df

def get_dtypes(filename: str):
    
    dtypes = {}
    
    attributes = open("datasets/university.dtypes.txt").read().split("\n")
    
    for attribute in attributes:
        name = attribute.split(": ")[0]
        dtype = attribute.split(": ")[1]
        dtypes[name] = dtype
    
    return dtypes

def replace_all(df, d):
    
    # replace multiple strings (i.e. '?' and 'unknown' with np.nan)
    
    for k, v in d.items():
        df = df.replace(k, v)
    
    return df

In [380]:
location = "datasets"
filenames = get_filenames("datasets")
filenames

['adult',
 'bank',
 'breast-cancer-wisconsin',
 'car',
 'lymphography',
 'mushroom',
 'nursery',
 'somerville',
 'trainingtest',
 'university',
 'wdbc',
 'wine']

In [463]:
for filename in filenames:
    df = read_data(filename)
    print(df.head())

   age         workclass  fnlwgt  education  education-num  \
0   39         State-gov   77516  Bachelors             13
1   50  Self-emp-not-inc   83311  Bachelors             13
2   38           Private  215646    HS-grad              9
3   53           Private  234721       11th              7
4   28           Private  338409  Bachelors             13

       marital-status         occupation   relationship   race     sex  \
0       Never-married       Adm-clerical  Not-in-family  White    Male
1  Married-civ-spouse    Exec-managerial        Husband  White    Male
2            Divorced  Handlers-cleaners  Not-in-family  White    Male
3  Married-civ-spouse  Handlers-cleaners        Husband  Black    Male
4  Married-civ-spouse     Prof-specialty           Wife  Black  Female

   capital-gain  capital-loss  hours-per-week native-country  CLASS
0          2174             0              40  United-States  <=50K
1             0             0              13  United-States  <=50K
2             0             0              40  United-States  <=50K
3             0             0              40  United-States  <=50K
4             0             0              40           Cuba  <=50K
    1             2        3          4   5     6    7    8        9   10  11  \
0  58    management  married   tertiary  no  2143  yes   no  unknown  261   1
1  44    technician   single  secondary  no    29  yes   no  unknown  151   1
2  33  entrepreneur  married  secondary  no     2  yes  yes  unknown   76   1
3  47   blue-collar  married    unknown  no  1506  yes   no  unknown   92   1
4  33       unknown   single    unknown  no     1   no   no  unknown  198   1

   12  13       14 CLASS
0  -1   0  unknown    no
1  -1   0  unknown    no
2  -1   0  unknown    no
3  -1   0  unknown    no
4  -1   0  unknown    no
   sample-code-number  clump-thickness  uniformity-of-cell-size  \
0             1000025                5                        1
1             1002945                5                        4
2             1015425                3                        1
3             1016277                6                        8
4             1017023                4                        1

   uniformity-of-cell-shape  marginal-adhesion  single-epithelial-cell-size  \
0                         1                  1                            2
1                         4                  5                            7
2                         1                  1                            2
3                         8                  1                            3
4                         1                  3                            2

  bare-nuclei  bland-chromatin  normal-nucleoli  mitoses  CLASS
0           1                3                1        1      2
1          10                3                2        1      2
2           2                3                1        1      2
3           4                3                7        1      2
4           1                3                1        1      2
  buying  maint doors persons lug_boot safety  CLASS
0  vhigh  vhigh     2       2    small    low  unacc
1  vhigh  vhigh     2       2    small    med  unacc
2  vhigh  vhigh     2       2    small   high  unacc
3  vhigh  vhigh     2       2      med    low  unacc
4  vhigh  vhigh     2       2      med    med  unacc
   CLASS  lymphatics  block-of-affere  bl-of-lymph.c  bl-of-lymph.s  by-pass  \
0      3           4                2              1              1        1
1      2           3                2              1              1        2
2      3           3                2              2              2        2
3      3           3                1              1              1        1
4      2           3                1              1              1        1

   extravasates  regeneration-of  early-uptake-in  lym.nodes-dimin  \
0             1                1                2                1
1             2                1                2                1
2             2                2                2                1
3             2                1                2                1
4             1                1                1                1

   lym.nodes-enlar  changes-in-lym  defect-in-node  changes-in-node  \
0                2               2               2                4
1                3               3               2                3
2                4               3               3                4
3                3               3               4                4
4                2               2               4                3

   changes-in-stru  special-forms  dislocation-of  exclusion-of-no  \
0                8              1               1                2
1                4              2               2                2
2                8              3               2                2
3                4              3               1                2
4                5              1               2                2

   no-of-nodes-in
0               2
1               2
2               7
3               6
4               1
  CLASS cap-shape cap-surface cap-color bruises? odor gill-attachment  \
0     p         x           s         n        t    p               f
1     e         x           s         y        t    a               f
2     e         b           s         w        t    l               f
3     p         x           y         w        t    p               f
4     e         x           s         g        f    n               f

  gill-spacing gill-size gill-colour  ... stalk-surface-below-ring  \
0            c         n           k  ...                        s
1            c         b           k  ...                        s
2            c         b           n  ...                        s
3            c         n           n  ...                        s
4            w         b           k  ...                        s

  stalk-color-above-ring stalk-color-below-ring veil-type veil-color  \
0                      w                      w         p          w
1                      w                      w         p          w
2                      w                      w         p          w
3                      w                      w         p          w
4                      w                      w         p          w

  ring-number ring-type spore-print-color population habitat
0           o         p                 k          s       u
1           o         p                 n          n       g
2           o         p                 n          n       m
3           o         p                 k          s       u
4           o         e                 n          a       g

[5 rows x 23 columns]
  parents has_nurs      form children     housing     finance         social  \
0   usual   proper  complete        1  convenient  convenient        nonprob
1   usual   proper  complete        1  convenient  convenient        nonprob
2   usual   proper  complete        1  convenient  convenient        nonprob
3   usual   proper  complete        1  convenient  convenient  slightly_prob
4   usual   proper  complete        1  convenient  convenient  slightly_prob

        health      CLASS
0  recommended  recommend
1     priority   priority
2    not_recom  not_recom
3  recommended  recommend
4     priority   priority
   CLASS  X1  X2  X3  X4  X5  X6
0      0   3   3   3   4   2   4
1      0   3   2   3   5   4   3
2      1   5   3   3   3   3   5
3      0   5   4   3   3   3   5
4      0   5   4   3   3   3   5
  headache    sore temperature cough CLASS
0   severe    mild        high   yes   flu
1       no  severe      normal   yes  cold
2     mild    mild      normal   yes   flu
3     mild      no      normal    no  cold
4   severe  severe      normal   yes   flu
     university-name          state                 control  \
0            adelphi        newyork                 private
1      arizona-state        arizona                   state
2     boston-college  massachusetts  private:roman-catholic
3  boston-university  massachusetts                 private
4              brown    rhodeisland                 private

  number-of-students  male:female-ratio  student:faculty-ratio  sat-veral  \
0               5-10               0.30                   15.0        500
1                20+               0.50                   20.0        450
2               5-10               0.40                   20.0        500
3              10-15               0.45                   12.0        550
4                 5-               0.50                   11.0        625

   sat-math expenses  percent-financial-aid number-of-applicants  \
0       475     7-10                     60                  4-7
1       500      4-7                     50                  17+
2       550      10+                     60                10-13
3       575      10+                     60                13-17
4       650      10+                     40                10-13

   percent-admittance  percent-enrolled  CLASS  social  quality-of-life  \
0                  70                40      2       2                2
1                  80                60      3       4                5
2                  50                40      4       5                3
3                  60                40      4       4                3
4                  20                50      5       4                5

  academic-emphasis
0           biology
1         fine-arts
2           english
3      liberal-arts
4     arts:sciences
         ID CLASS  feat1  feat2   feat3   feat4    feat5    feat6   feat7  \
0    842302     M  17.99  10.38  122.80  1001.0  0.11840  0.27760  0.3001
1    842517     M  20.57  17.77  132.90  1326.0  0.08474  0.07864  0.0869
2  84300903     M  19.69  21.25  130.00  1203.0  0.10960  0.15990  0.1974
3  84348301     M  11.42  20.38   77.58   386.1  0.14250  0.28390  0.2414
4  84358402     M  20.29  14.34  135.10  1297.0  0.10030  0.13280  0.1980

     feat8  ...  feat21  feat22  feat23  feat24  feat25  feat26  feat27  \
0  0.14710  ...   25.38   17.33  184.60  2019.0  0.1622  0.6656  0.7119
1  0.07017  ...   24.99   23.41  158.80  1956.0  0.1238  0.1866  0.2416
2  0.12790  ...   23.57   25.53  152.50  1709.0  0.1444  0.4245  0.4504
3  0.10520  ...   14.91   26.50   98.87   567.7  0.2098  0.8663  0.6869
4  0.10430  ...   22.54   16.67  152.20  1575.0  0.1374  0.2050  0.4000

   feat28  feat29   feat30
0  0.2654  0.4601  0.11890
1  0.1860  0.2750  0.08902
2  0.2430  0.3613  0.08758
3  0.2575  0.6638  0.17300
4  0.1625  0.2364  0.07678

[5 rows x 32 columns]
   CLASS  feat1  feat2  feat3  feat4  feat5  feat6  feat7  feat8  feat9  \
0      1  14.23   1.71   2.43   15.6    127   2.80   3.06   0.28   2.29
1      1  13.20   1.78   2.14   11.2    100   2.65   2.76   0.26   1.28
2      1  13.16   2.36   2.67   18.6    101   2.80   3.24   0.30   2.81
3      1  14.37   1.95   2.50   16.8    113   3.85   3.49   0.24   2.18
4      1  13.24   2.59   2.87   21.0    118   2.80   2.69   0.39   1.82

   feat10  feat11  feat12  feat13
0    5.64    1.04    3.92    1065
1    4.38    1.05    3.40    1050
2    5.68    1.03    3.17    1185
3    7.80    0.86    3.45    1480
4    4.32    1.04    2.93     735

In [411]:
# # find nan encoding i.e. '?' or 'unknown' 

# # get filenames
# filenames = get_filenames("datasets")

# attribute_values_list = []

# for filename in filenames:
    
#     df = read_data(filename)
    
#     for column in df.columns[:-1]:
#         attribute_values = df[column].tolist()
#         attribute_values_list.append(attribute_values)
        
# # sort attribute values by frequency

# attribute_values = [value for attribute_values in attribute_values_list for value in attribute_values]
# attribute_value_counter = Counter(attribute_values)
# attribute_value_counter = {k:v for k, v in sorted(attribute_value_counter.items(), key = lambda item: item[1], reverse = True)}

hence, 'unknown' and '?' represent missing values... replace missing values with np.nan.

In [513]:
# This function should prepare the data by reading it from a file and converting it into a useful format for training and testing

def preprocess(df, filename):
    
    # replace missing values with np.nan
    
    replacements = {"unknown": np.nan, "?": np.nan}  
    df = replace_all(df, replacements)
    
    # drop 'na' columns
    df = df.dropna(axis = 'columns')
    
    # rearrange class to [-1] position
    CLASS = df.pop("CLASS").astype("category")
    df["CLASS"] = CLASS
    
    # correct dtypes
    
    nominal_files = ["breast-cancer-wisconsin", "mushroom", "lymphography"]
    numeric_files = ["wdbc", "wine"]
    ordinal_files = ["car", "nursery", "somerville"]
    mixed_files = ["adult", "bank", "university"]
    
    if (filename in nominal_files):
        datatype = "nominal"
        for column in df.columns[:-1]:
            df[column] = df[column].astype("category")
            
    elif (filename in ordinal_files):
        datatype = "ordinal"
        for column in df.columns[:-1]:
            df[column] = df[column].astype("category")
        
    elif (filename in numeric_files):
        datatype = "numeric"
        for column in df.columns[:-1]:
            df[column] = pd.to_numeric(df[column])
        
    elif (filename in mixed_files):
        datatype = "mixed"
        dtypes = get_dtypes(filename)
        for column in df.columns[:-1]:
            try:
                dtype = dtypes[column]
                if dtype == "categoric":
                    df[column] = df[column].astype("category")
                if dtype == "numeric":
                    df[column] = pd.to_numeric(df[column])
            except:
                pass
            
    return df, datatype

In [506]:
# for filename in filenames:
#     df = read_data(filename)
#     df = preprocess(df, filename)
#     print(df.head())

In [508]:
filename = "university"
df = read_data(filename)
df = preprocess(df, filename)
df.head()

,university-name,state,control,number-of-students,male:female-ratio,student:faculty-ratio,sat-veral,sat-math,expenses,percent-financial-aid,number-of-applicants,percent-admittance,percent-enrolled,social,quality-of-life,academic-emphasis,CLASS
0,adelphi,newyork,private,5-10,0.30,15.0,500,475,7-10,60,4-7,70,40,2,2,biology,2
1,arizona-state,arizona,state,20+,0.50,20.0,450,500,4-7,50,17+,80,60,4,5,fine-arts,3
2,boston-college,massachusetts,private:roman-catholic,5-10,0.40,20.0,500,550,10+,60,10-13,50,40,5,3,english,4
3,boston-university,massachusetts,private,10-15,0.45,12.0,550,575,10+,60,13-17,60,40,4,3,liberal-arts,4
4,brown,rhodeisland,private,5-,0.50,11.0,625,650,10+,40,10-13,20,50,4,5,arts:sciences,5

In [433]:
# k_means discretization function.
# optimise_k and get_wss function used to determine optimal k value.

def k_means(values, k, old_centroids = None):

    # 1. Select k points at random to act as seed centroids
    # 2. Assign each instance to the cluster with nearest
    # centroid
    # 3. Recompute centroids of the clusters using current
    # assignment. Centroid = centre or mean point of cluster
    # 4. Repeat step 2 until the assignment of instances to
    # clusters is stable
    
    if old_centroids == None:
        centroids = sample(list(set(values)), k)
    else:
        centroids = old_centroids    
        
    clusters = [None for val in range(len(values))]

    for i in range(len(values)):
        value = values[i]

        # initialize distance to 'infinity' and cluster to 'none'
        distance = np.inf
        cluster = None

        for j in range(len(centroids)):

            centroid = centroids[j]

            if abs(centroid - value) < distance:

                distance = abs(centroid - value)

                clusters[i] = j  

    new_centroids = [[] for i in range(k)]

    for i in range(len(clusters)):
        cluster = clusters[i]
        new_centroids[cluster].append(values[i])
    
    new_centroids = list(map(np.mean, new_centroids))

    if set(new_centroids) == set(centroids):
        return clusters, centroids
    else:
        clusters, centroids = k_means(values, k, new_centroids)
    
    return clusters, centroids

def get_wss(values, clusters, centroids):
    
    se = []

    for i in range(len(values)):
        se.append((centroids[clusters[i]] - values[i]) ** 2)

    wss = sum(se)

    return wss

def optimize_k(values, ks):
    
    wsss = {}
    
    for k in ks:
        clusters, centroids = k_means(values, k)
        wss = get_wss(values, clusters, centroids)
        wsss[k] = wss
        
    return wsss

testing optimize_k() function

In [434]:
# kss = [3, 5, 10, 50, 100]
# wsss = optimize_k(values, kss)
# plt.plot(list(wsss.keys()), list(wsss.values()))
# plt.title("elbow")

In [517]:
def get_categoric_priors(df):
    
    # returns dataframe of categorical attributes' prior probabilities
    
    priors = []
    
    for column in df.columns[:-1]:
        
        # create "n" column to be able to aggregate attributes
        
        df2 = df.copy()
        df2["n"] = 1
        
        # get count of classes and count of attribute given class
        
        attributes = df2.groupby(["CLASS", column]).agg({"n": "count"}).reset_index()
        classes = attributes.groupby(["CLASS"])["n"].sum().reset_index().rename(columns = {"n": "total"})
        prior = pd.merge(attributes, classes, on = "CLASS", how = "left")
        
        # create "attribute" column to be able to concat prior dataframes
        
        prior["attribute"] = column
        prior = prior.rename(columns = {column: "attribute_value"})
        
        # get P(attribute|class)
        
        prior["p"] = prior.n / prior.total
        prior = prior[["CLASS", "attribute", "attribute_value", "n", "total", "p"]]
        
        priors.append(prior)
        
    priors = pd.concat(priors)
        
    return priors

In [542]:
def get_numeric_statistics(df):
    
    # returns dataframe of numerical attributes' mean and standard deviation
    
    numerical_statistics = df.agg(["mean", "std"]).transpose().reset_index().rename(columns = {"index": "attribute"})
    
    return numerical_statistics

In [511]:
def get_class_priors(df):
    
    # returns the probability of each class occuring
    
    prior = df.groupby(["CLASS"]).size().reset_index().rename(columns = {0: "n"})
    prior["total"] = sum(prior["n"])
    
    # get P(class)
    
    prior["p"] = prior.n / prior.total
    
    return prior

In [512]:
def gaussian_pdf(x, mean, std):
    
    # gaussian function used to determine P(X = x|C) 
    
    return (1/(std * sqrt(2 * pi))) * e ** (-1/2 * ((x - mean)/std) ** 2)

In [439]:
class_priors = get_class_priors(df)

In [537]:
class train_model:
    def __init__(self, class_priors, categoric_priors, numeric_statistics):
        self.class_priors = class_priors
        self.categoric_priors = categoric_priors
        self.numeric_statistics = numeric_statistics
    
    def gaussian_pdf(x, mean, std):
        # gaussian function used to determine P(X = x|C) 
        return (1/(std * sqrt(2 * pi))) * e ** (-1/2 * ((x - mean)/std) ** 2)
    
    def predict_nb(df):
        pass
    def predict_gnb(df):
        pass

In [538]:
get_class_priors(df)

  CLASS   n  total         p
0     1   6    231  0.025974
1     2  27    231  0.116883
2     3  84    231  0.363636
3     4  82    231  0.354978
4     5  32    231  0.138528

In [539]:
class_priors = get_class_priors(df)
categoric_priors = get_categoric_priors(df)

In [540]:
nb = model(class_priors, categoric_priors, None)

In [541]:
nb.numeric_statistics

In [448]:
# This function should calculat prior probabilities and likelihoods from the training data and using
# them to build a naive Bayes model

def train(df, datatype):
    
    class train_model:
        def __init__(self, class_priors, categoric_priors, numeric_statistics):
            self.class_priors = class_priors
            self.categoric_priors = categoric_priors
            self.numeric_statistics = numeric_statistics

        def gaussian_pdf(x, mean, std):
            # gaussian function used to determine P(X = x|C) 
            return (1/(std * sqrt(2 * pi))) * e ** (-1/2 * ((x - mean)/std) ** 2)

        def predict_nb(df):
            pass
        def predict_gnb(df):
            pass

    class_priors = get_class_priors(df)
    
    if datatype == "nominal" or datetype == "ordinal":
        categoric_priors = get_categoric_priors(df)
        model = train_model(class_priors, categoric_priors, None)
        return model
        
    if datatype == "numeric":
        numeric_statistics = get_numeric_statistics(df)
        model = train_model(class_priors, None, numeric_statistics)
        return model
        
    if datatype == "mixed":
        dtypes = get_dtypes(filename)
        for column in df.columns[:-1]:
            try:
                dtype = dtypes[column]
                if dtype == "categoric":
                    df[column] = df[column].astype("category")
                if dtype == "numeric":
                    df[column] = pd.to_numeric(df[column])
            except:
                pass
    
    return attribute_priors, class_priors

In [553]:
df.dtypes

university-name            object
state                      object
control                    object
number-of-students         object
male:female-ratio         float64
student:faculty-ratio     float64
sat-veral                   int64
sat-math                    int64
expenses                 category
percent-financial-aid       int64
number-of-applicants     category
percent-admittance          int64
percent-enrolled            int64
social                   category
quality-of-life          category
academic-emphasis        category
CLASS                    category
dtype: object

In [548]:
len(df.columns)

17

In [550]:
len(df.select_dtypes("number").columns)

7

In [551]:
len(df.select_dtypes("category").columns)

6

In [ ]:
# This function should predict classes for new items in a test dataset (for the purposes of this assignment, you
# can re-use the training data as a test set)

def predict(df, datatype, attribute_priors, class_priors):
    
    if datatype == "categorical":
        attribute_priors = get_categorical_attribute_priors(df)
    
    if datatype == "numeric":
        attribute_priors = get_numeric_attribute_priors(df)
        
    return

In [396]:
index, row = list(df2.iterrows())[0]

In [397]:
row

age                          39
workclass             State-gov
fnlwgt                    77516
education             Bachelors
education-num                13
marital-status    Never-married
occupation         Adm-clerical
relationship      Not-in-family
race                      White
sex                        Male
capital-gain               2174
capital-loss                  0
hours-per-week               40
native-country    United-States
Name: 0, dtype: object

In [566]:
CLASSES = class_priors.CLASS.tolist()
CLASS = CLASSES[0]

In [567]:
CLASS

'<=50K'

In [398]:
df.dtypes

age                int64
workclass         object
fnlwgt             int64
education         object
education-num      int64
marital-status    object
occupation        object
relationship      object
race              object
sex               object
capital-gain       int64
capital-loss       int64
hours-per-week     int64
native-country    object
CLASS             object
dtype: object

In [652]:
probability = []

index = row.index[0]
    
attribute = index 
attribute_value = row[index]

CLASSES = class_priors.CLASS.tolist()

class_ps = {}

for CLASS in CLASSES:

    attribute_ps = {}
    
    for index in row.index:

        attribute = index 
        attribute_value = row[index]
        
        if datatype == "categorical":
            
            attribute_p = attribute_priors.loc[
                (attribute_priors["CLASS"] == CLASS) & \
                (attribute_priors["attribute"] == attribute) & \
                (attribute_priors["attribute_value"] == attribute_value)
            ]
            
        if datatype == "numerical":
            
            mean = attribute_prior.loc[attribute_prior["attribute"] == attribute]["mean"].values[0]
            std = attribute_prior.loc[attribute_prior["attribute"] == attribute]["std"].values[0]
        
        # no classes
        
        if len(attribute_p) == 0:
            attribute_p = 0
        else:
            attribute_p = attribute_p.p.values[0]

        attribute_ps[attribute] = attribute_p
    
        class_p = class_priors.loc[class_priors["CLASS"] == CLASS].p.values[0]
        
        pi_attributes_p = 1
        for value in attribute_ps.values():
            pi_attributes_p *= value
        
        p = class_p * pi_attributes_p
        
        class_ps[CLASS] = p

age 39

In [653]:
class_ps

{'<=50K': 3.2731043372845494e-15, '>50K': 0.0}

In [648]:
attribute_ps = {}
    
for index in row.index:

    attribute = index 
    attribute_value = row[index]

    attribute_p = attribute_priors.loc[
        (attribute_priors["CLASS"] == CLASS) & \
        (attribute_priors["attribute"] == attribute) & \
        (attribute_priors["attribute_value"] == attribute_value)
    ]
    # no classes
    if len(attribute_p) == 0:
        attribute_p = 0
    else:
        attribute_p = attribute_p.p.values[0]
        
    attribute_ps[attribute] = attribute_p

In [641]:
attribute_p = attribute_priors.loc[
        (attribute_priors["CLASS"] == CLASS) & \
        (attribute_priors["attribute"] == attribute) & \
        (attribute_priors["attribute_value"] == attribute_value)
    ]

In [647]:
attribute_p.values

AttributeError: 'numpy.float64' object has no attribute 'values'

In [638]:
CLASS

'>50K'

In [633]:
attribute_value

77516

In [623]:
attribute_ps

{'age': 0.0354546613952302, 'workclass': 0.046143790849673204}

In [621]:
pi_attributes_p = 1
for value in attribute_ps.values():
    pi_attributes_p *= value

In [619]:
attribute_ps.values()

dict_values([array([0.03545466]), array([0.04614379]), array([], dtype=float64)])

In [614]:
attribute_p

4.311308670158666e-15

In [594]:
p = attribute_priors.loc[
    (attribute_priors["CLASS"] == CLASS) & \
    (attribute_priors["attribute"] == attribute) & \
    (attribute_priors["attribute_value"] == attribute_value)
]["p"].values[0]

In [595]:
z = []
z.append(p)

In [596]:
z

[0.021763754045307445]

In [ ]:
def nb(row, attribute_priors, class_priors):
    
    for column in row.columns()[1]:
        
    return prediction

In [ ]:
# This function should evaliate the prediction performance by comparing your models class outputs to ground
# truth labels

def evaluate():
    return

## Questions 


If you are in a group of 1, you will respond to question (1), and **one** other of your choosing (two responses in total).

If you are in a group of 2, you will respond to question (1) and question (2), and **two** others of your choosing (four responses in total). 

A response to a question should take about 100250 words, and make reference to the data wherever possible.

#### NOTE: you may develope codes or functions in respond to the question, but your formal answer should be added to a separate file.

### Q1
Try discretising the numeric attributes in these datasets and treating them as discrete variables in the nave Bayes classifier. You can use a discretisation method of your choice and group the numeric values into any number of levels (but around 3 to 5 levels would probably be a good starting point). Does discretizing the variables improve classification performance, compared to the Gaussian nave Bayes approach? Why or why not?

### Q2
Implement a baseline model (e.g., random or 0R) and compare the performance of the nave Bayes classifier to this baseline on multiple datasets. Discuss why the baseline performance varies across datasets, and to what extent the nave Bayes classifier improves on the baseline performance.

### Q3
Since its difficult to model the probabilities of ordinal data, ordinal attributes are often treated as either nominal variables or numeric variables. Compare these strategies on the ordinal datasets provided. Deterimine which approach gives higher classification accuracy and discuss why.

### Q4
Evaluating the model on the same data that we use to train the model is considered to be a major mistake in Machine Learning. Implement a holdout or crossvalidation evaluation strategy (you should implement this yourself and do not simply call existing implementations from `scikit-learn`). How does your estimate of effectiveness change, compared to testing on the training data? Explain why. (The result might surprise you!)

### Q5
Implement one of the advanced smoothing regimes (add-k, Good-Turing). Does changing the smoothing regime (or indeed, not smoothing at all) affect the effectiveness of the nave Bayes classifier? Explain why, or why not.

### Q6
The Gaussian nave Bayes classifier assumes that numeric attributes come from a Gaussian distribution. Is this assumption always true for the numeric attributes in these datasets? Identify some cases where the Gaussian assumption is violated and describe any evidence (or lack thereof) that this has some effect on the NB classifiers predictions.